In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
spark.version

'3.5.2'

In [3]:
from pyspark.sql.functions import col, explode, to_timestamp, lit, from_json
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType, DecimalType

# 1. Cities table

In [138]:
bronze_cities_df = spark.read.json(r"C:\Users\karee\Downloads\file_0_20250320_112647.json")

#### Step 1: Explode JSON fields to flatten nested structures
##### Extract the "data" array from the JSON

In [139]:
cities_data_df = bronze_cities_df.select(explode(col("data")).alias("city"))

#### Step 2: Schema enforcement

##### Select relevant fields and apply the schema

In [140]:
cities_data_df_enforced = cities_data_df.select(
    col("city.city_name").cast(StringType()).alias("city_name"),
    col("city.iata_code").cast(StringType()).alias("iata_code"),
    col("city.country_iso2").cast(StringType()).alias("country_iso2"),
    col("city.latitude").cast(DoubleType()).alias("latitude"),
    col("city.longitude").cast(DoubleType()).alias("longitude"),
    col("city.timezone").cast(StringType()).alias("timezone"),
    col("city.gmt").cast(DecimalType(4,2)).alias("gmt"),
    col("city.geoname_id").cast(IntegerType()).alias("geoname_id")
)

In [141]:
cities_data_df_enforced.show()

+------------+---------+------------+----------+----------+-------------------+------+----------+
|   city_name|iata_code|country_iso2|  latitude| longitude|           timezone|   gmt|geoname_id|
+------------+---------+------------+----------+----------+-------------------+------+----------+
|        Anaa|      AAA|          PF|    -17.05|-145.41667|     Pacific/Tahiti|-10.00|      NULL|
|    Arrabury|      AAB|          AU|     -26.7| 141.04167| Australia/Brisbane| 10.00|      NULL|
|    El Arish|      AAC|          EG| 31.133333|     33.75|       Africa/Cairo|  2.00|    361546|
|      Annaba|      AAE|          DZ| 36.821392|  7.811857|     Africa/Algiers|  1.00|   2506999|
|Apalachicola|      AAF|          US| 29.733334| -84.98333|    America/Chicago| -6.00|   4167695|
|     Arapoti|      AAG|          BR|-24.103611|    -49.79|  America/Sao_Paulo| -3.00|   3471795|
|      Aachen|      AAH|          DE| 50.775438|   6.08151|      Europe/Berlin|  1.00|   3247449|
|     Arraias|      AAI|          BR|-12.916667|-46.933334|  America/Araguaina| -3.00|      NULL|
|    Awaradam|      AAJ|          SR|       3.9| -55.36667| America/Paramaribo| -3.00|      NULL|
|     Aranuka|      AAK|          KI|  0.166667| 173.58333|     Pacific/Tarawa| 12.00|      NULL|
|     Aalborg|      AAL|          DK| 57.028811|  9.917771|  Europe/Copenhagen|  1.00|   2624886|
|   Mala Mala|      AAM|          ZA|     -24.8| 31.533333|Africa/Johannesburg|  2.00|    954955|
|      Al Ain|      AAN|          AE|   24.2075| 55.744722|         Asia/Dubai|  4.00|    292913|
|       Anaco|      AAO|          VE|  9.431944| -64.46389|    America/Caracas| -4.00|   3486270|
|       Anapa|      AAQ|          RU|      44.9| 37.316666|      Europe/Moscow|  3.00|    582182|
|      Aarhus|      AAR|          DK| 56.162939| 10.203921|  Europe/Copenhagen|  1.00|   2611664|
|  Apalapsili|      AAS|          ID| -3.916667|    139.25|      Asia/Jayapura|  9.00|      NULL|
|       Altay|      AAT|          CN| 47.750362|  88.08444|      Asia/Shanghai|  8.00|   1529651|
|        Asau|      AAU|          WS|-13.458333|    -172.6|       Pacific/Apia| 13.00|   4035092|
|    Surallah|      AAV|          PH|  6.333333| 124.76667|        Asia/Manila|  8.00|      NULL|
+------------+---------+------------+----------+----------+-------------------+------+----------+
only showing top 20 rows

#### Step 3: Handle null values and standardize formats
##### Replace empty strings with corresponding appropriate values and get rid of the records with a null primary key

In [142]:
cities_data_df_enforced.createOrReplaceTempView("silver_cities")

In [143]:

silver_cities_df = spark.sql("""
    SELECT
        COALESCE(city_name, 'Unkown') AS city_name,
        COALESCE(iata_code, 'N/A') AS iata_code,
        COALESCE(country_iso2, 'N/A') AS country_iso2,
        COALESCE(latitude, 0.0) AS latitude,
        COALESCE(longitude, 0.0) AS longitude,
        COALESCE(timezone, 'Unkown') AS timezone,
        COALESCE(gmt, 'N/A') AS gmt,
        COALESCE(geoname_id, 0) AS geoname_id
    FROM silver_cities
    WHERE city_name IS NOT NULL
""")

In [144]:
silver_cities_df.schema

StructType([StructField('city_name', StringType(), False), StructField('iata_code', StringType(), False), StructField('country_iso2', StringType(), False), StructField('latitude', DoubleType(), False), StructField('longitude', DoubleType(), False), StructField('timezone', StringType(), False), StructField('gmt', StringType(), False), StructField('geoname_id', IntegerType(), False)])

#### Step 4: Deduplication (if needed)
##### Drop duplicates based on unique identifiers

In [134]:
# print(silver_cities_df.count())
silver_cities_df = silver_cities_df.dropDuplicates(["city_name", "iata_code"])
# print(silver_cities_df.count())

#### Step5: Write into Silver layer as parquet

In [ ]:
silver_cities_df.write.mode("overwrite").parquet(r"K:\file.parquet")

# 2. Countries Table

In [4]:
bronze_countries_df = spark.read.json(r"K:\New folder (2)\*.json")

#### Step 1: Explode JSON fields to flatten nested structures
##### Extract the "data" array from the JSON

In [5]:
countries_data_df = bronze_countries_df.select(explode(col("data")).alias("country"))

In [6]:
countries_data_df.count()

250

#### Step 2: Schema enforcement

##### select relevant fields and apply the schema

In [ ]:
countries_data_df_enforced = countries_data_df.select(
    col("country.country_name").cast(StringType()).alias("country_name"),
    col("country.country_iso2").cast(StringType()).alias("country_iso2"),
    col("country.country_iso3").cast(StringType()).alias("country_iso3"),
    col("country.country_iso_numeric").cast(IntegerType()).alias("country_iso_numeric"),
    col("country.population").cast(IntegerType()).alias("population"),
    col("country.capital").cast(StringType()).alias("capital"),
    col("country.continent").cast(StringType()).alias("continent"),
    col("country.currency_name").cast(StringType()).alias("currency_name"),
    col("country.currency_code").cast(StringType()).alias("currency_code"),
    col("country.fips_code").cast(StringType()).alias("fips_code"),
    col("country.phone_prefix").cast(StringType()).alias("phone_prefix")
)

In [156]:
countries_data_df_enforced.show()

+--------------------+------------+------------+-------------------+----------+--------------------+---------+-------------+-------------+---------+------------+
|        country_name|country_iso2|country_iso3|country_iso_numeric|population|             capital|continent|currency_name|currency_code|fips_code|phone_prefix|
+--------------------+------------+------------+-------------------+----------+--------------------+---------+-------------+-------------+---------+------------+
|             Hungary|          HU|         HUN|                348|   9982000|            Budapest|       EU|       Forint|          HUF|       HU|          36|
|           Indonesia|          ID|         IDN|                360| 242968342|             Jakarta|       AS|       Rupiah|          IDR|       ID|          62|
|             Ireland|          IE|         IRL|                372|   4622917|              Dublin|       EU|         Euro|          EUR|       EI|         353|
|              Israel|          IL|         ISR|                376|   7353985|           Jerusalem|       AS|       Shekel|          ILS|       IS|         972|
|         Isle of Man|          IM|         IMN|                833|     75049|Douglas, Isle of Man|       EU|        Pound|          GBP|       IM|    +44-1624|
|               India|          IN|         IND|                356|1173108018|           New Delhi|       AS|        Rupee|          INR|       IN|          91|
|British Indian Oc...|          IO|         IOT|                 86|      4000|        Diego Garcia|       AS|       Dollar|          USD|       IO|         246|
|                Iraq|          IQ|         IRQ|                368|  29671605|             Baghdad|       AS|        Dinar|          IQD|       IZ|         964|
|                Iran|          IR|         IRN|                364|  76923300|              Tehran|       AS|         Rial|          IRR|       IR|          98|
|             Iceland|          IS|         ISL|                352|    308910|           Reykjavik|       EU|        Krona|          ISK|       IC|         354|
|               Italy|          IT|         ITA|                380|  60340328|                Rome|       EU|         Euro|          EUR|       IT|          39|
|              Jersey|          JE|         JEY|                832|     90812|        Saint Helier|       EU|        Pound|          GBP|       JE|    +44-1534|
|             Jamaica|          JM|         JAM|                388|   2847232|            Kingston|       NA|       Dollar|          JMD|       JM|      +1-876|
|              Jordan|          JO|         JOR|                400|   6407085|               Amman|       AS|        Dinar|          JOD|       JO|         962|
|               Japan|          JP|         JPN|                392| 127288000|               Tokyo|       AS|          Yen|          JPY|       JA|          81|
|               Kenya|          KE|         KEN|                404|  40046566|             Nairobi|       AF|     Shilling|          KES|       KE|         254|
|          Kyrgyzstan|          KG|         KGZ|                417|   5508626|             Bishkek|       AS|          Som|          KGS|       KG|         996|
|            Cambodia|          KH|         KHM|                116|  14453680|          Phnom Penh|       AS|        Riels|          KHR|       CB|         855|
|            Kiribati|          KI|         KIR|                296|     92533|              Tarawa|       OC|       Dollar|          AUD|       KR|         686|
|             Comoros|          KM|         COM|                174|    773407|              Moroni|       AF|        Franc|          KMF|       CN|         269|
+--------------------+------------+------------+-------------------+----------+--------------------+---------+-------------+-------------+---------+------------+
only showing top 20 rows

#### Step 3: Handle null values and standardize formats
##### Replace empty strings with corresponding appropriate values and get rid of the records with a null primary key

In [157]:
countries_data_df_enforced.createOrReplaceTempView("silver_countries")

In [158]:
silver_countries_df = spark.sql("""
    SELECT
        COALESCE(country_name, 'Unknown') AS country_name,
        COALESCE(country_iso2, 'N/A') AS country_iso2,
        COALESCE(country_iso3, 'N/A') AS country_iso3,
        COALESCE(country_iso_numeric, 0) AS country_iso_numeric,
        COALESCE(population, 0) AS population,
        COALESCE(capital, 'Unknown') AS capital,
        COALESCE(continent, 'Unknown') AS continent,
        COALESCE(currency_name, 'Unknown') AS currency_name,
        COALESCE(currency_code, 'N/A') AS currency_code,
        COALESCE(fips_code, 'N/A') AS fips_code,
        COALESCE(phone_prefix, 'N/A') AS phone_prefix
    FROM silver_countries
    WHERE country_name IS NOT NULL
""")

In [160]:
silver_countries_df.schema

StructType([StructField('country_name', StringType(), False), StructField('country_iso2', StringType(), False), StructField('country_iso3', StringType(), False), StructField('country_iso_numeric', IntegerType(), False), StructField('population', IntegerType(), False), StructField('capital', StringType(), False), StructField('continent', StringType(), False), StructField('currency_name', StringType(), False), StructField('currency_code', StringType(), False), StructField('fips_code', StringType(), False), StructField('phone_prefix', StringType(), False)])

#### Step 4: Deduplication (if needed)
##### Drop duplicates based on unique identifiers

In [161]:
# print(silver_countries_df.count())
silver_countries_df = silver_countries_df.dropDuplicates(["country_name"])
# print(silver_countries_df.count())

#### Step5: Write into Silver layer as parquet

In [ ]:
silver_countries_df.write.mode("overwrite").parquet(r"K:\file.parquet")

# 3. Airplanes Table:

In [162]:
bronze_airplanes_df  = spark.read.json(r"C:\Users\karee\Downloads\file_1010_20250320_124911.json")

#### Step 1: Explode JSON fields to flatten nested structures
##### Extract the "data" array from the JSON

In [163]:
airplanes_data_df = bronze_airplanes_df.select(explode(col("data")).alias("airplane"))

#### Step 2: Schema enforcement

##### select relevant fields and apply the schema

In [164]:
airplanes_data_df_enforced = airplanes_data_df.select(
    col("airplane.registration_number").cast(StringType()).alias("registration_number"),
    col("airplane.production_line").cast(StringType()).alias("production_line"),
    col("airplane.iata_type").cast(StringType()).alias("iata_type"),
    col("airplane.model_name").cast(StringType()).alias("model_name"),
    col("airplane.model_code").cast(StringType()).alias("model_code"),
    col("airplane.icao_code_hex").cast(StringType()).alias("icao_code_hex"),
    col("airplane.iata_code_short").cast(StringType()).alias("iata_code_short"),
    col("airplane.construction_number").cast(StringType()).alias("construction_number"),
    col("airplane.test_registration_number").cast(StringType()).alias("test_registration_number"),
    col("airplane.rollout_date").cast(StringType()).alias("rollout_date"),
    col("airplane.first_flight_date").cast(StringType()).alias("first_flight_date"),
    col("airplane.delivery_date").cast(StringType()).alias("delivery_date"),
    col("airplane.registration_date").cast(StringType()).alias("registration_date"),
    col("airplane.line_number").cast(StringType()).alias("line_number"),
    col("airplane.plane_series").cast(StringType()).alias("plane_series"),
    col("airplane.airline_iata_code").cast(StringType()).alias("airline_iata_code"),
    col("airplane.airline_icao_code").cast(StringType()).alias("airline_icao_code"),
    col("airplane.plane_owner").cast(StringType()).alias("plane_owner"),
    col("airplane.engines_count").cast(IntegerType()).alias("engines_count"),
    col("airplane.engines_type").cast(StringType()).alias("engines_type"),
    col("airplane.plane_age").cast(IntegerType()).alias("plane_age"),
    col("airplane.plane_status").cast(StringType()).alias("plane_status"),
    col("airplane.plane_class").cast(StringType()).alias("plane_class")
)

In [166]:
airplanes_data_df_enforced.show()

+-------------------+----------------+---------+----------+-------------+-------------+---------------+-------------------+------------------------+--------------------+--------------------+--------------------+--------------------+-----------+------------+-----------------+-----------------+--------------------+-------------+------------+---------+------------+-----------+
|registration_number| production_line|iata_type|model_name|   model_code|icao_code_hex|iata_code_short|construction_number|test_registration_number|        rollout_date|   first_flight_date|       delivery_date|   registration_date|line_number|plane_series|airline_iata_code|airline_icao_code|         plane_owner|engines_count|engines_type|plane_age|plane_status|plane_class|
+-------------------+----------------+---------+----------+-------------+-------------+---------------+-------------------+------------------------+--------------------+--------------------+--------------------+--------------------+-----------+------------+-----------------+-----------------+--------------------+-------------+------------+---------+------------+-----------+
|             XA-FPP|Airbus A300/A310|   A300B4|      A300|A300B4-203(F)|       0D05CA|            ABX|                227|                    NULL|          0000-00-00|1983-02-28T23:00:...|1982-12-20T23:00:...|2010-08-20T22:00:...|       NULL|     B4-203F|               6R|             NULL|Wells Fargo Bank ...|            2|         JET|       34|      active|       NULL|
|             XA-LRC|      Boeing 767| B767-200|       767|B767-241(ERF)|       0D0821|            76X|              23802|                    NULL|                NULL|1987-04-27T22:00:...|1987-07-01T22:00:...|          0000-00-00|       0172|      241ERF|               6R|             NULL|Wells Fargo Bank ...|            2|         JET|       30|      active|       NULL|
|             XA-LRL|Airbus A300/A310|   A300B4|      A300|A300B4-203(F)|       0D05CC|            ABX|                210|                    NULL|          0000-00-00|1982-09-09T22:00:...|1985-05-09T22:00:...|2010-08-20T22:00:...|       NULL|     B4-203F|               6R|             NULL|                NULL|            2|         JET|       35|      active|       NULL|
|             XA-MRC|Airbus A300/A310|   A300B4|      A300|A300B4-203(F)|       0D05CB|            ABX|                247|                    NULL|          0000-00-00|1983-09-08T22:00:...|1984-12-20T23:00:...|2010-08-20T22:00:...|       NULL|     B4-203F|               6R|             NULL|                NULL|            2|         JET|       34|      active|       NULL|
|             XA-TWQ|Airbus A300/A310|   A300B4|      A300|A300B4-203(F)|       0D0236|            ABX|                045|                    NULL|          0000-00-00|1977-02-17T23:00:...|1977-03-23T23:00:...|2003-03-07T23:00:...|       NULL|     B4-203F|               6R|             NULL|Lombard Aviation ...|            2|         JET|       40|      active|       NULL|
|             HL7779|   Boeing 737 NG| B737-800|       737|     B737-85F|       71BF79|            738|              28824|                    NULL|                NULL|1998-12-17T23:00:...|1999-02-01T23:00:...|2000-08-04T22:00:...|       0180|         85F|               7C|             NULL|GATX 737-800 Part...|            2|         JET|       18|      active|       NULL|
|             HL7780|   Boeing 737 NG| B737-800|       737|     B737-85F|       71BF80|            738|              28827|                    NULL|                NULL|2000-01-06T23:00:...|2000-01-28T23:00:...|2000-08-06T22:00:...|       0467|         85F|               7C|             NULL|Mall Partners I B.V.|            2|         JET|       17|      active|          1|
|             HL8019|   Boeing 737 NG| B737-800|       737| B737-86NWIN.|       71C019|            73H|              32694|                    NULL|2006-05-11T22:00:...|2006-05-25T22:00:...|2006-06-11T22:00:...|2014-06-26T22:00:...|       1960|         86N|               7C|             NULL|               GECAS|            2|         JET|       11|      active|       NULL|
|             HL8020|   Boeing 737 NG| B737-800|       737|     B737-86N|       71C020|            738|              32683|                    NULL|2006-11-28T23:00:...|2006-12-04T23:00:...|2006-12-17T23:00:...|2014-11-30T23:00:...|       2136|         86N|               7C|             NULL|Wells Fargo Bank ...|            2|         JET|       10|      active|       NULL|
|             HL8031|   Boeing 737 NG| B737-800|       737| B737-8GJWIN.|       A442F5|            73H|              37361|                    NULL|2010-12-06T23:00:...|2010-12-11T23:00:...|2010-12-22T23:00:...|2015-02-13T23:00:...|       3506|         8GJ|               7C|             NULL|Wells Fargo Bank ...|            2|         JET|        6|      active|       NULL|
|             HL8032|   Boeing 737 NG| B737-800|       737| B737-8GJWIN.|       71C032|            73H|              36367|                    NULL|2010-03-02T23:00:...|2010-03-09T23:00:...|2010-03-24T23:00:...|2015-03-30T22:00:...|       3218|         8GJ|               7C|             NULL|BBAM Aircraft Hol...|            2|         JET|        7|      active|       NULL|
|             HL8033|   Boeing 737 NG| B737-800|       737| B737-8ALWIN.|       71C033|            73H|              35071|                    NULL|2006-11-29T23:00:...|2006-12-11T23:00:...|2006-12-20T23:00:...|2015-05-18T22:00:...|       2138|         8AL|               7C|             NULL|Singapore Aircraf...|            2|         JET|       10|      active|       NULL|
|             HL8034|   Boeing 737 NG| B737-800|       737| B737-8HXWIN.|       71C034|            73H|              38101|                    NULL|2011-09-20T22:00:...|2011-09-28T22:00:...|2011-10-18T22:00:...|2015-04-09T22:00:...|       3803|         8HX|               7C|             NULL|Bank of Utah Trustee|            2|         JET|        6|      active|       NULL|
|             HL8206|   Boeing 737 NG| B737-800|       737| B737-86JWIN.|       4BCCE9|            73H|              30877|                    NULL|2001-02-03T23:00:...|2001-02-11T23:00:...|2001-03-03T23:00:...|2000-09-08T22:00:...|       0782|         86J|               7C|             NULL|                NULL|            2|         JET|       16|      active|       NULL|
|             HL8214|   Boeing 737 NG| B737-800|       737| B737-86NWIN.|       71C214|            73H|              28608|                    NULL|                NULL|1999-10-17T22:00:...|1999-11-11T23:00:...|2010-02-08T23:00:...|       0410|         86N|               7C|             NULL|                NULL|            2|         JET|       18|      active|       NULL|
|             HL8234|   Boeing 737 NG| B737-800|       737| B737-86QWIN.|       71C234|            73H|              30285|                    NULL|2002-10-10T22:00:...|2002-10-22T22:00:...|2002-11-13T23:00:...|2010-11-18T23:00:...|       1237|         86Q|               7C|             NULL|Boullion Aviation...|            2|         JET|       15|      active|       NULL|
|             HL8239|   Boeing 737 NG| B737-800|       737|     B737-82R|       71C239|            738|              29344|                    NULL|2001-04-24T22:00:...|2001-05-03T22:00:...|2001-05-20T22:00:...|2011-06-02T22:00:...|       0849|         82R|               7C|             NULL|    Pegasus Airlines|            2|         JET|       16|      active|       NULL|
|             HL8260|   Boeing 737 NG| B737-800|       737| B737-8BKWIN.|       71C260|            73H|              30622|                    NULL|2002-03-16T23:00:...|2002-03-25T23:00:...|2002-04-14T22:00:...|2012-03-14T23:00:...|       1108|         8BK|               7C|             NULL|CIT Leasing Corpo...|            2|         JET|       15|      active|       NULL|
|             HL8261|   Boeing 737 NG| B737-800|       737| B737-8BKWIN.|       71C261|            73H|              30624|                    NULL|2002-07-16T22:00:...|2002-07-25T22:00:...|2002-08-13T22:00:...|2012-09-16T22:00:...|       1193|         8BK|               7C|             NULL|CIT Leasing Corpo...|            2|         JET|       15|      active|       NULL|
|             HL8263|   Boeing 737 NG| B737-800|       737| B737-82RWIN.|       71C263|            73H|              30658|                    NULL|2003-04-28T22:00:...|2003-05-06T22:00:...|2003-05-21T22:00:...|2012-11-22T23:00:...|       1325|         82R|               7C|             NULL|International Lea...|            2|         JET|       14|      active|       NULL|
+-------------------+----------------+---------+----------+-------------+-------------+---------------+-------------------+------------------------+--------------------+--------------------+--------------------+--------------------+-----------+------------+-----------------+-----------------+--------------------+-------------+------------+---------+------------+-----------+
only showing top 20 rows

#### Step 3: Handle null values and standardize formats
##### Replace empty strings with corresponding appropriate values and get rid of the records with a null primary key

In [167]:
airplanes_data_df_enforced.createOrReplaceTempView("silver_airplanes")

In [168]:
silver_airplanes_df = spark.sql("""
    SELECT
        COALESCE(registration_number, 'N/A') AS registration_number,
        COALESCE(production_line, 'Unknown') AS production_line,
        COALESCE(iata_type, 'Unknown') AS iata_type,
        COALESCE(model_name, 'Unknown') AS model_name,
        COALESCE(model_code, 'Unknown') AS model_code,
        COALESCE(icao_code_hex, 'N/A') AS icao_code_hex,
        COALESCE(iata_code_short, 'N/A') AS iata_code_short,
        COALESCE(construction_number, 'N/A') AS construction_number,
        COALESCE(test_registration_number, 'N/A') AS test_registration_number,
        COALESCE(rollout_date, 'N/A') AS rollout_date,
        COALESCE(first_flight_date, 'N/A') AS first_flight_date,
        COALESCE(delivery_date, 'N/A') AS delivery_date,
        COALESCE(registration_date, 'N/A') AS registration_date,
        COALESCE(line_number, 'N/A') AS line_number,
        COALESCE(plane_series, 'N/A') AS plane_series,
        COALESCE(airline_iata_code, 'N/A') AS airline_iata_code,
        COALESCE(airline_icao_code, 'N/A') AS airline_icao_code,
        COALESCE(plane_owner, 'Unknown') AS plane_owner,
        COALESCE(engines_count, 0) AS engines_count,
        COALESCE(engines_type, 'Unknown') AS engines_type,
        COALESCE(plane_age, 0) AS plane_age,
        COALESCE(plane_status, 'Unknown') AS plane_status,
        COALESCE(plane_class, 'Unknown') AS plane_class
    FROM silver_airplanes
    WHERE registration_number IS NOT NULL
""")

In [169]:
silver_airplanes_df.schema

StructType([StructField('registration_number', StringType(), False), StructField('production_line', StringType(), False), StructField('iata_type', StringType(), False), StructField('model_name', StringType(), False), StructField('model_code', StringType(), False), StructField('icao_code_hex', StringType(), False), StructField('iata_code_short', StringType(), False), StructField('construction_number', StringType(), False), StructField('test_registration_number', StringType(), False), StructField('rollout_date', StringType(), False), StructField('first_flight_date', StringType(), False), StructField('delivery_date', StringType(), False), StructField('registration_date', StringType(), False), StructField('line_number', StringType(), False), StructField('plane_series', StringType(), False), StructField('airline_iata_code', StringType(), False), StructField('airline_icao_code', StringType(), False), StructField('plane_owner', StringType(), False), StructField('engines_count', IntegerType(), False), StructField('engines_type', StringType(), False), StructField('plane_age', IntegerType(), False), StructField('plane_status', StringType(), False), StructField('plane_class', StringType(), False)])

#### Step 4: Deduplication (if needed)
##### Drop duplicates based on unique identifiers

In [171]:
# print(silver_airplanes_df.count())
silver_airplanes_df = silver_airplanes_df.dropDuplicates(["registration_number"])
# print(silver_airplanes_df.count())

#### Step5: Write into Silver layer as parquet

In [172]:
silver_airplanes_df.write.mode("overwrite").parquet(r"K:\file.parquet")

# 4. Airports Table

In [173]:
bronze_airports_df  = spark.read.json(r"C:\Users\karee\Downloads\file_1111_20250320_121457.json")

#### Step 1: Explode JSON fields to flatten nested structures
##### Extract the "data" array from the JSON

In [176]:
airports_data_df = bronze_airports_df.select(explode(col("data")).alias("airport"))

#### Step 2: Schema enforcement

##### select relevant fields and apply the schema

In [177]:
airports_data_df_enforced = airports_data_df.select(
    col("airport.airport_name").cast(StringType()).alias("airport_name"),
    col("airport.iata_code").cast(StringType()).alias("iata_code"),
    col("airport.icao_code").cast(StringType()).alias("icao_code"),
    col("airport.latitude").cast(DoubleType()).alias("latitude"),
    col("airport.longitude").cast(DoubleType()).alias("longitude"),
    col("airport.geoname_id").cast(IntegerType()).alias("geoname_id"),
    col("airport.timezone").cast(StringType()).alias("timezone"),
    col("airport.gmt").cast(StringType()).alias("gmt"),
    col("airport.phone_number").cast(StringType()).alias("phone_number"),
    col("airport.country_name").cast(StringType()).alias("country_name"),
    col("airport.country_iso2").cast(StringType()).alias("country_iso2"),
    col("airport.city_iata_code").cast(StringType()).alias("city_iata_code")
)

#### Step 3: Handle null values and standardize formats
##### Replace empty strings with corresponding appropriate values and get rid of the records with a null primary key

In [178]:
airports_data_df_enforced.createOrReplaceTempView("silver_airports")

In [179]:
silver_airports_df = spark.sql("""
    SELECT
        COALESCE(airport_name, 'Unknown') AS airport_name,
        COALESCE(iata_code, 'N/A') AS iata_code,
        COALESCE(icao_code, 'N/A') AS icao_code,
        COALESCE(latitude, 0.0) AS latitude,
        COALESCE(longitude, 0.0) AS longitude,
        COALESCE(geoname_id, 0) AS geoname_id,
        COALESCE(timezone, 'Unknown') AS timezone,
        COALESCE(gmt, 'N/A') AS gmt,
        COALESCE(phone_number, 'N/A') AS phone_number,
        COALESCE(country_name, 'Unknown') AS country_name,
        COALESCE(country_iso2, 'N/A') AS country_iso2,
        COALESCE(city_iata_code, 'N/A') AS city_iata_code
    FROM silver_airports
    WHERE airport_name IS NOT NULL
""")

#### Step 4: Deduplication (if needed)
##### Drop duplicates based on unique identifiers

In [ ]:
# print(silver_airplanes_df.count())
silver_airports_df = silver_airports_df.dropDuplicates(["iata_code"])
# print(silver_airplanes_df.count())

100
100

#### Step5: Write into Silver layer as parquet

In [ ]:
silver_airports_df.write.mode("overwrite").parquet(r"K:\file.parquet")

# 5. Airlines Table

In [182]:
bronze_airlines_df  = spark.read.json(r"C:\Users\karee\Downloads\file_10504_20250320_122519.json")

#### Step 1: Explode JSON fields to flatten nested structures
##### Extract the "data" array from the JSON

In [183]:
airlines_data_df = bronze_airlines_df.select(explode(col("data")).alias("airline"))

#### Step 2: Schema enforcement

##### select relevant fields and apply the schema

In [ ]:
airlines_data_df_enforced = airlines_data_df.select(
    col("airline.airline_name").cast(StringType()).alias("airline_name"),
    col("airline.iata_code").cast(StringType()).alias("iata_code"),
    col("airline.iata_prefix_accounting").cast(StringType()).alias("iata_prefix_accounting"),
    col("airline.icao_code").cast(StringType()).alias("icao_code"),
    col("airline.callsign").cast(StringType()).alias("callsign"),
    col("airline.type").cast(StringType()).alias("type"),
    col("airline.status").cast(StringType()).alias("status"),
    col("airline.fleet_size").cast(IntegerType()).alias("fleet_size"),
    col("airline.fleet_average_age").cast(DoubleType()).alias("fleet_average_age"),
    col("airline.date_founded").cast(IntegerType()).alias("date_founded"),
    col("airline.hub_code").cast(StringType()).alias("hub_code"),
    col("airline.country_name").cast(StringType()).alias("country_name"),
    col("airline.country_iso2").cast(StringType()).alias("country_iso2")
)

#### Step 3: Handle null values and standardize formats
##### Replace empty strings with corresponding appropriate values and get rid of the records with a null primary key

In [185]:
airlines_data_df_enforced.createOrReplaceTempView("silver_airlines")

In [ ]:
silver_airlines_df = spark.sql("""
    SELECT
        COALESCE(airline_name, 'Unknown') AS airline_name,
        COALESCE(icao_code, 'N/A') AS icao_code,
        COALESCE(iata_code, 'N/A') AS iata_code, --there are nulls here
        COALESCE(iata_prefix_accounting, 'N/A') AS iata_prefix_accounting,
        COALESCE(callsign, 'N/A') AS callsign,
        COALESCE(type, 'Unknown') AS type,
        COALESCE(status, 'Unknown') AS status,
        COALESCE(fleet_size, 0) AS fleet_size,
        COALESCE(fleet_average_age, 0.0) AS fleet_average_age,
        COALESCE(date_founded, 0) AS date_founded,
        COALESCE(hub_code, 'N/A') AS hub_code,
        COALESCE(country_name, 'Unknown') AS country_name,
        COALESCE(country_iso2, 'N/A') AS country_iso2
    FROM silver_airlines
    WHERE airline_name IS NOT NULL
""")

#### Step 4: Deduplication (if needed)
##### Drop duplicates based on unique identifiers

In [195]:
# print(silver_airplanes_df.count())
silver_airlines_df = silver_airlines_df.dropDuplicates(["icao_code"])
# print(silver_airplanes_df.count())

#### Step5: Write into Silver layer as parquet

In [ ]:
silver_airlines_df.write.mode("overwrite").parquet(r"K:\file.parquet")